<div id="logo">
    <b id="jl">JL</b>
</div>
<style>
    #logo {
        width: 3rem;
        height: 3rem;
        position: relative;
    }

    #jl {
        position: absolute;
        line-height: 3rem;
        margin: 0;
        background-image: var(--accent-gradient);
        background-size: 400%;
		background-position: 0%;
        -webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
        font-size: 2rem;
        text-align: center;
        width: 100%;
    }
</style>