---
import Layout from '../../layouts/Layout.astro';

export function getStaticPaths() {
    return [
      {params: {sketch: 'slow-start', description: 'A quick sketch to get things started, this was directly after creating the website.'}},
      {params: {sketch: 'sin-cos', description: 'Speciaal voor bauke'}},
      {params: {sketch: 'bubble-sort', description: 'Visualizing bubble sort'}},
      ];
  }
  
  const { sketch } = Astro.params;
---
<Layout title="Joel-Levi">
  <script is:inline src="/joel/p5.min.js"></script>
  <script is:inline src="/joel/p5.sound.js"></script>
  <main> 
    <div id="canvas">
        <script is:inline src=`/joel/sketches/${sketch}.js`></script>
      </div>
      
  </main>
</Layout>

<style>
  #canvas {
      width: 100%;
      height: 100%;
      position: relative;
      margin: auto;
  }
  main {
    border: 3rem solid black;
    border-top-width: 0px;
    box-sizing: border-box;
    width: 100vw;
    height: calc(100vh - 3rem);
  }
</style>